<h1>Delete Responses</h1>
<div class="card">
  <div class="card-header">
    <%= @response.question.body %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @response.body %></h5>
  </div>
</div>
<%= link_to "Delete Response" , auth_responses_destroy_path(qid: @response.id), :data => {:method => "delete"} %>
