<h1>Show Question</h1>
<div class="card">
   <%= markdown(@question.body).html_safe %>
   <h5 class="card-title"><% @question.responses.each do |r| %>
    <%= markdown(r.body).html_safe %>
</div>
<%end%>
