<div class="jumbotron">
      <h1 class="display-4">BPPWD Support Forum</h1>
      <p class="lead">Access to the BPPWD Support Forum is available to all students in the Programming and Web Development shop at Bay Path
        Regional Vocational Technical High School.  The support forum enables students to post questions regarding shop curriculum and receive
        feedback from peers.  Students will also have access to student created video tutorials and have the ability to post their own videos
        and tutorials to help others. </p>
      <hr class="my-4">
      <p>To get setup with an account, please contact your instructor!</p>
      <div class="btn btn-secondary btn-lg">
      <%= link_to "Request Access" , auth_dashboard_index_url%>
      </div>
    </div>
